*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas:
    "h f"
    ;
}

header{
    grid-area: h;
    display: flex;
    justify-content: space-between;
    background-image: url(img/Rectangle\ 17pag\ login.jpg);
}


main {
    grid-area: f;
    background-color: #BCBCBC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


form{
    display: flex;
    flex-direction: column;
    width: 70%;
    row-gap: 15px;
}

form > label{
font-size: 2rem;
font-family: 'Basic';
font-style: normal;
font-weight: 400;
font-size: 1.9rem;
line-height: 38px;
margin-top: 20px;
}

form> input{
    border-radius: 20px;
    height: 40px;
    background-color: rgba(82, 15, 113, 0.76);

}
.btn{
    display: flex;
    justify-content: center;
}

form >.btn> input[type="submit"]{
    background: #520F71;
    border-radius: 20px;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 2.2rem;
    padding: 20px;
    margin-top: 70px;
    color: #FFFFFF;
}

@media (max-width:600px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas:
        "h"
        "f"
        ;}

}